.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:url("https://img.freepik.com/free-vector/bokeh-defocused-background_23-2148497833.jpg?w=740&t=st=1704605732~exp=1704606332~hmac=54c5c604da58ed16e048cb61ee5796e56011522eaaf73469b560081f2a03f949");
    background-size: cover;
}
.loginTitle{
    font-size: 50px;
}
.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.loginForm >label{
    margin: 10px 0;
}
.loginInput{
    padding: 10px;
    background-color: white;
    border: none;
}
.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.forgotPassword{
    padding-left: 5px;
    margin-top: 10px;
    color: rgb(46, 45, 43);
    font-size: 18px;
}
.forgotPassword Span{
    color: rgb(219, 121, 219);
    cursor: pointer;
}
.loginRegisterButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}